*{margin: 0; padding: 0;}

#principal{
    width: 900px;
    margin: 0px auto;
}

.header{
    height: 60px;
    /* display: inline-block; */
    width: 100%;
    background-color: #ccc;
}

.header h1{
    padding: 11px 11px 11px 20px;
    float: left;
    cursor: pointer;
}

.header a{
    padding: 10px 15px;
    margin: 11px 29px 11px 11px;
    float: right;
    text-decoration: none;
    color: white;
    background-color: gray;
}

.header a:hover{
    color: black;
    background-color: #fff;
}    

#principal .col-left{
    width: 25%;
    float: left;
    height: 100vh;
}

#principal .col-left .grupos{
    height: 90%;
    border: 1px solid #ccc;
}

#principal .col-right{
    float: left;
    width: 75%;
    height: 100vh;
}

.head-msg{
    background-color: rgb(107, 207, 123);
    height: 50px;
}

.chat-head-msg{
    background-color: #EEE;
    height: 50px;
    /* display: none; */
}

/* .chat-head-msg.active{
    display: block;
} */

.icon-group{
    background: white url("../img/icone1.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50px;
}

.chat-icon-group{
    background: white url("../img/icone1.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: none;
    float: left;
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50px;
}

.name-group{
    float: left;
    display: block;
    padding: 15px 15px 15px 0;
    margin-left: 10px;
}

.chat-name-group{
    float: left;
    display: block;
    padding: 15px 15px 15px 0;
    margin-left: 10px;
}

.contact{
    background-color: #eee;
    height: 50px;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.contact:hover{
    background-color: #DDD;
}

.col-left .list-grupos{
    width: 100%;
    background-color: whitesmoke;
}

#principal .col-right .conversations{
    margin: 10px;
    overflow: auto;
}

#principal .col-right .panel{
    width: 100%;
    height: 100%;
    background-color: #E5DDD5;
}

/* #principal .col-right .conversations.active{
    display: block;
}     */

.col-right .conversations .posts{
    width: 50%;
    background-color: whitesmoke;
    overflow-y: auto; 
    float: left;
    border-radius: 5px;
    margin-bottom: 7px;
    padding: 5px;
    padding-right: none;
}

.col-right .conversations .posts p{
    padding: 5px;
}    

.bold{
    font-weight: bold;
}

/* .col-right .posts .post-receive{
    width: 50%;
    float: left;
    padding: 5px 10px;
    margin: 5px;
    background-color: whitesmoke;
    text-align: left;
    display: block;
    border: 1px solid #DBDBD4;
    border-radius: 10px;
}

.col-right .posts .post-send{
    width: 50%;
    float: right;
    padding: 5px 10px;
    margin: 5px;
    background-color:#DCF8C6;
    text-align: left;
    display: block;
    border: 1px solid #DBDBD4;
    border-radius: 10px;
} */